= form_with(model: workout, local: true) do |form|
  - if workout.errors.any?
    #error_explanation
      %h2
        = pluralize(workout.errors.count, "error")
        prohibited this workout from being saved:
      %ul
        - workout.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
